.lista {
    font-size: 30;
    color: red;
}

.imagens {
    text-align: center;
    background: black;
}
 
#destaque { 
   border: 5px;
   border-style: dashed;
   border-color: blue;
   border-top-left-radius: 500px;
   border-top-right-radius: 500px;
   border-botton-left-radius: 500px;
   border-botton-right-radius: 500px;
   padding-top: 30px;
   padding-botton: 30px;
   margin-left: 500px;
   margin-right: 500px;
   background:  yellow; 
}
